*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    background-color: red;
}
.my{
    background-color: darkorange;
    border-radius:15%;
    align-items: 100px;
    justify-content: 100px;
     color:yellow;
     size: 100px;
}
.input{
    word-spacing:100px;
}
