*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    background-color: red;
}
.my{
    background-color: darkorange;
    border-radius:15%;
    align-items: 100px;
    justify-content: 100px;
    color:yellow;
    size: 120px;
    height: 120px;
    width: 1200px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    justify-content: space-between;

}
.in{
    word-spacing:100px;
    color: aqua;
    background-color: darkorange;
    border-radius:25%;
}
input{
    border-radius:25%;
}
.da{
    flex-direction: row;
    justify-content: space-between;
    word-spacing: 20px
}
